'editor':
  'fontSize': 16
  'showIndentGuide': true
  'softWrap': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'release-notes':
  'viewedVersion': '0.89.0'
'welcome':
  'showOnStartup': false
